# Django Settings
SECRET_KEY=H5saZYNDi4g2UVnkuQwK9SBPzhmvce3EAt7qJT8LloF1jybRfd
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,api.kirinyagahostels.com,92.4.138.215

# Database - Supabase
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=b-b!9,vNnps_AMP7
DB_HOST=db.kgfadynbzrznbvzfzpgep.supabase.co
DB_PORT=5432
DATABASE_URL=postgresql://postgres:b-b!9,vNnps_AMP7@db.kgfadynbzrznbvzfzpgep.supabase.co:5432/postgres?sslmode=require

# Backblaze B2 Storage
AWS_ACCESS_KEY_ID=56a7f36bcce0
AWS_SECRET_ACCESS_KEY=0039ecb6312e53246bd607c2c14dd3fb3c3e658f2e
AWS_STORAGE_BUCKET_NAME=kirinyaga-hostels
AWS_S3_ENDPOINT_URL=https://s3.eu-central-003.backblazeb2.com
AWS_S3_REGION_NAME=eu-central-003
AWS_S3_USE_SSL=True

#  Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=destinymichael941@gmail.com
EMAIL_HOST_PASSWORD=zuggfdamuzqodvnz

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=destinymichael941@gmail.com
EMAIL_HOST_PASSWORD=zuggfdamuzqodvnz

# Twilio SMS
TWILIO_ACCOUNT_SID=AC53366815e324206fa3565b64771b4b0b
TWILIO_AUTH_TOKEN=07fe01fb0e13a9a76559c899b9f80f65
TWILIO_PHONE_NUMBER=+1 478 295 4991
TWILIO_VERIFY_SERVICE_SID=VA35373cb139e5a4f1cbf5ae8dc85587f2

# Google Maps
GOOGLE_MAPS_API_KEY=AIzaSyBizaLbe_k0W-xEOBEhkNFcwZPC8eFl-OQ

# Redis/Celery
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=redis://localhost:6379

# JWT
JWT_SECRET=H5saZYNDi4g2UVnkuQwK9SBPzhmvce3EAt7qJT8LloF1jybRfd
JWT_ACCESS_TOKEN_LIFETIME=15
JWT_REFRESH_TOKEN_LIFETIME=7

# Admin
ADMIN_EMAIL=destinymichael941@gmail.com
SUPER_ADMIN_PHONE=+254703250550

CORS_ALLOWED_ORIGINS=http://localhost:5500,http://92.4.138.215,https://student.kirinyagahostels.com,https://owner.kirinyagahostels.com,https://admin.kirinyagahostels.com,https://kyu-hostels.destinymichael941.workers.dev/

# M-Pesa (Safaricom)
MPESA_CONSUMER_KEY=your-mpesa-consumer-key
MPESA_CONSUMER_SECRET=your-mpesa-consumer-secret
MPESA_PASSKEY=your-mpesa-passkey
MPESA_SHORTCODE=174379
MPESA_ENVIRONMENT=sandbox

CORS_ALLOWED_ORIGINS=http://localhost:5500,https://student.kirinyagahostels.com,https://owner.kirinyagahostels.com,https://admin.kirinyagahostels.com




